/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.\#*
dev
drafts
/.repl/
/builds/
/junk/
/out/
/resources/public/js/dapps/dapps.js
/resources/public/js/dapps/dapps.js.map
/resources/public/js/dapps/dapps/
/resources/public/js/dapps/out/
/resources/public/resume/*
