body {
    background-color: #1F1f1f;
    color: #F8F8F8;
}

::selection {
    background: #7F073F;
    color: white;
}

::-moz-selection {
    background: #7F073F;
    color: white;
}

pre {
    background-color: black;
    color: white;
    white-space: pre-wrap;
}

a {
    color: #FBDE2D;
}

#main-navbar a {
    color: white;
}

h1,h2,h3,h4,h5 {
    color: peru;
}

h1 {
    padding-bottom: 1em;
}

a:hover, footer a:hover, #main-navbar a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.navbar {
    background-color: black;
    border-color: black;
}

code {
    background-color: darkcyan;
    color: #F8F8F8;
}

#content {
    width: 80%;
    max-width: 48em;
    margin: 0 auto;
}

#index li {
    font: large Helvetica,Arial,sans-serif;
}

/* blog post text */
#content p {
    font: medium Helvetica,Arial,sans-serif;
    margin: 1em 0;
}

#content p, pre {
    margin: 1em 0;
}

#content blockquote p {
    font: large "Goudy Bookletter 1911", serif;
}

blockquote {
    background-color: #111;
    color: peru;
}

/* not using tags but just in-case, looks like code blocks */
.tag {
    border-color: black;
    border-radius: 10em;
    background-color: darkcyan;
    color: #F8F8F8;
}

footer a {
    color: royalblue;
}

footer p {
    padding-left: 2em;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 2em;
}