body {
    font-family: Times;
    font-size: 1.2em;
    background-color: #F2F2F2;
    color: #222222;
}

h1 {
    font-size: 3em !important;
    border-bottom: 1px solid black;
}

a {
    color: indianred;
    text-decoration: none;
}

a:hover {
    color: #3476B4;
    text-decoration: underline;
}

pre {
    background-color: black;
    color: white;
    white-space: pre-wrap
}

div#content {
    margin:auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2em;
}


::selection {
	background: blue; /* Safari */
        color: white;
}

::-moz-selection {
	background: blue; /* Firefox */
        color: white;
}


/* old theme
#3476B4
#A1AC25
#50F158
#F4F4F4
#222222
*/
